body {
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 2%;
}

#todo-list {
  width: 100%;
  min-height: 100vh;
}

/* .todo-app */
.task-content {
  width: 100%;
  max-width: 540px;
  background: #fff;
  border-radius: 5px;
  margin: 100px auto 20px;
  padding: 20px 15px 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.task-content h2,
.task-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.task-input {
  background: #e6e6e6;
  border-radius: 3px;
}

p {
  font-size: 14px;
  color: #d9d9d9;
  text-align: center;
}

p:hover {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

input {
  flex: 1;
  height: 25px;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 14;
}

.task-input img {
  width: 15px;
  margin-right: 10px;
}

.task-content h2 img {
  width: 20px;
  margin-right: 10px;
}

ul#list-container {
  width: 97% !important;
  padding-left: 20px !important;
}

ul li {
  list-style: none;
  font-size: 16px;
  padding: 6px 4px 6px 4px;
  user-select: none;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url("./assets/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 5px;
  left: -20px;
}

ul li.checked {
  color: #d9d9d9;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url("./assets/checked.png");
}

.add-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

ul li span {
  position: absolute;
  right: 0;

  /* top: 5px; */
  bottom: 3px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #d9d9d9;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  color: #fd5b5b;
}
